body {
	background - image: url("412086.jpg");
	background - size: cover;
}.form - control {
	width: 600 px;
	height: 50 px;
	margin - left: 150 px;
}.jumbotron {
	background - color: transparent;
}.mar {
	font - size: 80 pt;
}
img {
	width: 275 px;
	height: 183 px;
	border - radius: 8 px;
}
label {
	color: azure;
	margin - left: 150 px;
}
